.form-container {
    display: flex;
    justify-content: space-evenly;
}

.box {
    display: none;
}

#form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
    background: linear-gradient(45deg, #1CB5E0 10%, #010b66 100%);
    border-radius: 10px;
    padding: 10px;
}

#form input {
    height: 20px;
    margin-bottom: 5px;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    font-weight: 600;
}

#addBtn {
    height: 30px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: white;
    font-size: 17px;
    font-weight: 600;
}

#addBtn:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

#closeX {
    width: 20px;
    margin-left: 180px;
}